
@font-face {
  font-family: 'ProximaNova';
  src: url('~@/assets/fonts/ProximaNova-Thin.woff2') format('woff2');
  font-weight: 250;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('~@/assets/fonts/ProximaNova-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('~@/assets/fonts/ProximaNova-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('~@/assets/fonts/ProximaNova-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

