:root {
  --font-main: 'ProximaNova', sans-serif;
  --color-1: #E77C5A;
  --color-2: #2F2D2C;
  --color-3: #CC5050;
  --color-4: #413F3E;
  --color-5: #BEBDBC;
  --color-6: #7A7A7A;
  --color-7: #fff;
  --color-8: #000;
  --color-9: #FBFBFB;
  --color-10: #F7F7F7;
  --color-11: #FCFCFC;
  --color-12: #65615F;
  --color-placeholder: #A8A5A5;
  --bgModal: rgba(0, 0, 0, 0.7);
}


